<p id="notice"><%= notice %></p>

<h1>Cobrades</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cobrades.each do |cobrade| %>
      <tr>
        <td><%= cobrade.cod %></td>
        <td><%= cobrade.description %></td>
        <td><%= link_to 'Show', cobrade %></td>
        <td><%= link_to 'Edit', edit_cobrade_path(cobrade) %></td>
        <td><%= link_to 'Destroy', cobrade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobrade', new_cobrade_path %>
