<p id="notice"><%= notice %></p>

<p>
  <strong>Cod:</strong>
  <%= @cobrade.cod %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cobrade.description %>
</p>

<%= link_to 'Edit', edit_cobrade_path(@cobrade) %> |
<%= link_to 'Back', cobrades_path %>
